@import url('https://fonts.googleapis.com/css2?family= Montserrat & display=swap');

:root {
    --cor-preto-rico: #161F27;
    --cor-corante-indigo: #205070;
    --cor-azul-aco: #2980B9;
    --cor-azul-carolina: #8BB8D5;
    --cor-anti-flash-branco: #ECF0F1;
}
* {
    padding: 0vw;
    margin: 0vw;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}
body {
    background-color: var(--cor-anti-flash-branco);
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    font-size: 2.5vw;
    font-weight: normal;
    margin: 0vw 0vw 1.7vw 0vw;
}
h2{
    font-size: 2vw;
    font-weight: normal;
}
p{
    font-size: 1.5vw;
    font-weight: normal;
}
a{
    font-size: 1.5vw;
    font-weight: normal;
    text-decoration: none;
}
header{
    background: var(--cor-corante-indigo);
    display: block;
    position: fixed;
    width: 100vw;
    box-shadow: 0vw 0vw 2.5vw 0vw var(--cor-azul-carolina);
}
nav {
    padding: 0vw 9.5vw;
    display: flex;
    align-items: center;
}
.canto{
    margin-right: 23vw;
}
#logo {
    justify-content: start;
    max-width: 4.1vw;
    border-radius: 100%;
}
#logo:hover {
    box-shadow: 0vw 0vw 0.2vw 0vw var(--cor-anti-flash-branco);
}
.sessao{
    margin: 0vw 1.3vw;
    padding: 1.4vw 1.2vw;
    color: var(--cor-anti-flash-branco);
    border-bottom: 0.4vw solid var(--cor-azul-aco);
}
.sessao:hover{
    background-color: var(--cor-azul-aco);
}
hr{
    margin-bottom: 3.1vw;
}
#sobre {
    background-image: url(image/background-sobre.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
    background-color: var(--cor-corante-indigo);
    padding: 2.8vw 3.6vw;
    color: var(--cor-preto-rico);
    display: flex;
}
#sobre .fundo {
    margin: 8vw 14.3vw ;
    padding: 3.4vw 3.8vw ;
    background-color: var(--cor-anti-flash-branco); 
    border-radius: 0vw 1.2vw 0vw 1.2vw;
}
.info-sobre {
    display: flex;
    align-items: center;
} 
.foto {
    border-radius: 2.5vw;
    max-height: 18vw;
    flex-shrink: 0;
    margin: 0vw 1.6vw 0vw 0vw;
}
#sobre p{
    text-align: center;
    margin: 0vw 0vw 0vw 1.6vw;
}
.icon{
    max-width: 3.1vw;
    padding-right: 1.2vw;
}
#conhecimentos {
    background-image: url(image/background-conhecimentos.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    background-color: var(--cor-azul-carolina);
    padding: 2.8vw 3.6vw;
    color: var(--cor-anti-flash-branco);
    display: flex;
}
#conhecimentos .fundo {
    margin: 8vw 20vw;
    padding: 3.4vw 3.8vw ;
    background-color: var(--cor-corante-indigo); 
    border-radius: 0vw 1.2vw 0vw 1.2vw;
    
}
.info-conhecimentos {
    display: flex;
    gap: 5vw;
}
#conhecimentos a{    
    display: flex;
    width: 20vw;
    align-items: center;
    color: var(--cor-anti-flash-branco);
}
#conhecimentos a:hover{
    text-decoration: underline;
}

#projetos {
    background-image: url(image/background-projetos.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: var(--cor-anti-flash-branco);
    padding: 2.8vw 3.6vw;
    color: var(--cor-anti-flash-branco);
    display: flex;
}
#projetos .fundo {
    margin: 8vw 14.3vw ;
    padding: 3.4vw 3.8vw;
    background-color: var(--cor-azul-aco); 
    border-radius: 0vw 1.2vw 0vw 1.2vw;
}
#projetos h2{
    margin-bottom: 1.7vw;
}
.espaco-botao{
    justify-content: center;
    display: flex;
    gap: 6vw;
}
.botao{
    color: var(--cor-anti-flash-branco);
    padding: 0.6vw 1.1vw;
    background-color: var(--cor-corante-indigo);
    margin: 3vw 0vw;
    border-radius: 0.6vw;
    box-shadow: 0vw 0vw 0.6vw 0vw var(--cor-preto-rico);
}
.botao:hover{
    color: var(--cor-preto-rico);
    background-color: var(--cor-azul-carolina);
        
}
#contato {
    background-image: url(image/background-contato.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    background-color: var(--cor-preto-rico);
    color: var(--cor-anti-flash-branco);
    display: flex;
    justify-content: center;
    padding: 0vw 0vw 12vw 0vw;
}
#contato .fundo {
    padding: 3.4vw 3.8vw;
}
.info-contato {
    display: flex;
    gap: 5vw;
}
#contato a{    
    display: flex;
    width: 30vw;
    align-items: center;
    color: var(--cor-anti-flash-branco);
}
footer{
    background-color: var(--cor-anti-flash-branco);
    text-align: center;
}
footer a{
    color: var(--cor-preto-rico);
    font-size: 0.7vw;
    margin: 0vw 1vw;

}
body::-webkit-scrollbar {
    width: 0.6vw;
}
  
body::-webkit-scrollbar-track {
    background: var(--cor-anti-flash-branco);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--cor-azul-carolina);    /* color of the scroll thumb */
    border-radius: 2vw;
}